/* Breadcrumb Premium WG */

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 4px 20px 4px;
  color: #555;
  font-size: 14px;
  font-weight: 500;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.breadcrumb-item span {
  cursor: pointer;
}

.breadcrumb-separator {
  color: #bbb;
}
