@tailwind components;

input, select, textarea {
  @apply border border-gray-300 rounded-lg px-3 py-2 outline-none focus:ring-2 focus:ring-violet-500;
}

label {
  @apply text-sm font-medium text-gray-700;
}
