/* ============= */
/* TIPOGRAFIA WG */
/* ============= */

h1, .h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: -0.2px;
}

h2, .h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: -0.1px;
}

h3, .h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.95rem;
}

p, span, label, .text-base {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: -0.15px;
}

/* Ajuste do contraste do texto WG */
.text-muted {
  color: #777 !important;
}
